/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* END CSS RESET */
html,body{
    margin:0;
    height:100%;
    background-color:#fff;
}
h1,h2,h3,h4,h5,h6,p{
    color:#111;
	font-family: 'Lora', serif;
}
h1{
    font-size:2em;
}
h2{
    font-size: 1.5em;
}
h3{
    font-size:1.17em;
}
h4{
    font-size:1em;
}
h5{
    font-size:0.83em;
}

.container{
	position:relative;
	width:60%;
	height:50px;
	left:350px;
}
.container .img-description{
	position: absolute;
	margin-bottom:100px;
	opacity: 0;
	color:#fff;
}
.img-description-content{
	padding:20px;
	color:#fff;
}
.img-description-content *{
	color:#fff;
	font-family: 'Open Sans', sans-serif;
}
.container .img-description:hover{
	opacity: 1;
	background-color: rgba(0,0,0,0.5);
	transition:background-color 500ms;
}

.container img{
	position: absolute;
	margin-bottom:100px;
	opacity: 1;
}
/*Nav Styling*/
nav{
	width:300px;
	position:fixed;
	left:0px;
	/*top:0px;*/
	font-family: 'Lora', serif;
	font-size: 24px;
	padding-left:10px;
	padding-top: 10px;
}
nav h1{
	line-height:1.7em;
}
nav hr{
	width:60%;
	margin-top:1.3em;
	border-color:#333;
	border-style:solid;
}
nav li{
	line-height:1.5em;
	font-size: 0.65em;
}
nav .menu-section{
	padding-bottom: 20px;
}
nav .short-bio{
	font-size: 0.65em;
	padding-right: 50px;
	/*padding-top:20px;*/
}

/*Link styling for nav*/
a:link{
	color:#111;
	text-decoration: none;
}
a:visited{
	color:#111;
	text-decoration: none;
}
a:hover{
	color:#111;
	text-decoration: underline;
}
a:active{
	color:#111;
}
/*Text post stuff*/
.container#text-post{
	padding:0px 10px;
	line-height: 1.25em;
}
.text-post-title{
	line-height: 1.5em;
	font-size: 2.3em;
}
#text-post p{
	margin-bottom:20px;
}
#text-post img{
	max-width:95%;
}

/*Media queries*/
@media only screen and (max-width: 619px) {
	nav{
		width:100%;
		z-index: 1000;
		background-color: #fff;
		height:30px;
		padding-bottom:10px;
	}
	nav h1{
		font-size:0.7em;
		display: inline;
		font-weight: bold;
	}
	nav .menu-toggle{
		font-size:0.7em;
		display: inline;
		float:right;
		padding-right:20px;
		font-weight: bold;
	}
	.container{
		left:0;
		width:100%;
		top:50px;
	}
	.container#text-post{
		width:95%;
		margin: 0 auto;
	}
	nav .short-bio,nav ul, nav hr{
		display: none;
	}
	nav hr{
		width:100%;
		padding:0;
		margin:10px 0px;
	}
}
@media only screen and (min-width: 620px){
	nav{
		width: 30%;
	}
	nav .short-bio,nav ul, nav hr{
		display: block;
	}
	nav .menu-toggle{
		display: none;
	}
	.container{
		width:70%;
		left:30%;
	}
	.container#text-post{
		width:65%;
	}
	nav h1{
		font-size: 1.1em;
	}
	nav #open-menu{
		display: none;
	}
}
@media only screen and (min-width: 750px){
	nav{
		width:30%;
	}
	.container{
		width:70%;
		left:30%;
	}
	nav h1{
		font-size: 1.2em;
		line-height: 1.4em;
	}
}

@media only screen and (min-width: 1000px) {
	.container {
		width: 80%;
		left: 20%;
	}

	nav {
		width: 20%;
	}

	nav h1{
		font-size: 1.5em;
		line-height: 1.5em;
	}
}

@media only screen and (min-width: 1001px){
	.container {
		width: 60%;
		height: 50px;
		left:350px;
	}
	.container#text-post{
		width: 60%;
		height: 50px;
		left:350px;
		max-width: 700px;
		padding-top:20px;
	}
	nav {
		width: 300px;
		position: fixed;
		left: 0px;
	}
	nav h1 {
		line-height: 1.7em;
	}
	.text-post-title {
		line-height: 1.5em;
		font-size: 2.3em;
	}
}